<section class="u-py-100 u-h-100vh u-flex-center main-bg-gradient-1">
  <div class="container">
    <div class="row">
      <div class="col-12 u-mt-80 text-center">
        <h1 class="display-4 u-fw-500 text-white u-mb-40">
          Devdap is build for
          <span class="text-purple" data-type="App, SEO, Software"></span>
          <span class="typed-curcor text-purple">|</span>
        </h1>
        <p class="u-fs-18 text-white u-lh-1_8 u-mb-40">
          Devdap is an elegant, modern and fully customizable App Landing, SaaS Landing, WebApp, SEO Landing, Startup Landing & Product
          Landing Multi-Purpose HTML template
        </p>
        <a href="#" class="btn btn btn-rounded btn-primary m-2 px-md-5 py-3" data-scrollto="demo">
          Explore Demos
        </a>
      </div>
    </div>
  </div>
</section>