<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">
						Accordion
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="faq" class="bg-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 m-auto text-center">
					<h2 class="h1">
						Frequently Asked Questions
					</h2>
					<div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40 mx-auto"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-4">
					<div id="accordion" role="tablist" class="bg-pure-white box-shadow-v3">
						<div class="accordion__faq">
							<a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
								<i class="fa fa-angle-down mr-3"></i>
								Where can I get more details about your security practices?
							</a>
							<div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
								<div class="accordion__text">
									Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse
									molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper
									per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
								</div>
							</div>
						</div>
						<div class="accordion__faq">
							<a class="accordion__title p-4" data-toggle="collapse" href="#acc2">
								<i class="fa fa-angle-down mr-3"></i>
								Is Hyper backward capability with old browser?
							</a>
							<div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
								<div class="accordion__text">
									Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse
									molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper
									per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
								</div>
							</div>
						</div>
						<div class="accordion__faq">
							<a class="accordion__title p-4" data-toggle="collapse" href="#acc3">
								<i class="fa fa-angle-down mr-3"></i>
								Is it possible to "sell" Free Software in premium marketplace?
							</a>
							<div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
								<div class="accordion__text">
									Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse
									molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper
									per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
								</div>
							</div>
						</div>
						<div class="accordion__faq">
							<a class="accordion__title p-4" data-toggle="collapse" href="#acc4">
								<i class="fa fa-angle-down mr-3"></i>
								How can i purchase this Template in 30 sec?
							</a>
							<div id="acc4" class="collapse" role="tabpanel" data-parent="#accordion">
								<div class="accordion__text">
									Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse
									molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper
									per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
								</div>
							</div>
						</div>
						<div class="accordion__faq">
							<a class="accordion__title p-4" data-toggle="collapse" href="#acc5">
								<i class="fa fa-angle-down mr-3"></i>
								Where can I get more details about your security practices?
							</a>
							<div id="acc5" class="collapse" role="tabpanel" data-parent="#accordion">
								<div class="accordion__text">
									Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse
									molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper
									per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>