<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="text-purple">
						Buttons
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="text-white">
						Modern cool buttons work with both link and button tag :)
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<button class="btn btn-rounded btn-primary px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-green px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-white px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-pulple-light px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-yellow px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-primary px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-green px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-white px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-pulple-light px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-yellow px-md-5 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-primary px-md-4 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-green px-md-4 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-white px-md-4 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-pulple-light px-md-4 m-3">get start</button>
					<button class="btn btn-sm btn-rounded btn-yellow px-md-4 m-3">get start</button>
					<button class="btn btn-rounded btn-outline-primary px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-outline-green px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-outline-white px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-outline-pulple-light px-md-5 m-3">get start</button>
					<button class="btn btn-rounded btn-outline-yellow px-md-5 m-3">get start</button>
					<button class="btn btn btn-rounded btn-primary m-3 px-4">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
					<button class="btn btn btn-rounded btn-green m-3 px-4">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
					<button class="btn btn btn-rounded btn-primary m-3 px-md-5">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
					<button class="btn btn btn-rounded btn-green m-3 px-md-5">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
					<button class="btn btn btn-sm btn-rounded btn-primary m-3 px-md-4">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
					<button class="btn btn btn-sm btn-rounded btn-green m-3 px-md-4">
						<i class="fa fa-android mr-1"></i> Play Store
					</button>
				</div>
			</div>
		</div>
	</section>