<section class="u-py-100 u-h-100vh u-flex-center comming-soon-bck">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center text-white">
          <h1 class="u-fs-md-60 u-fw-600 text-white">
            COMING SOON
          </h1>
          <p class="my-5">
            <strong class="text-white">devdap</strong> is an elegant, modern and fully customizable App Landing, SaaS Landing, WebApp, SEO Landing, Startup
            Landing & Product Landing Multi-Purpose HTML template
          </p>
          <h4 class="text-white mb-4">We'll be ready in...</h4>
          <div class="d-flex justify-content-center u-ff-dosis" data-countdown="2019/01/10">
            <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
              <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-days"></span>
              <span class="u-fs-18">Days</span>
            </div>
            <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
              <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-hours"></span>
              <span class="u-fs-18">Hours</span>
            </div>
            <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
              <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-minutes"></span>
              <span class="u-fs-18">Minutes</span>
            </div>
            <div class="m-3 u-w-150 u-h-150 rounded-circle bg-white-opacity-0_1 u-flex-center">
              <span class="u-lh-0_9 u-fs-30 u-fs-md-48 u-fw-600 countdown-seconds"></span>
              <span class="u-fs-18">Seconds</span>
            </div>
          </div>
          <form class="form-inline justify-content-center mt-5">
            <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
              <div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding pr-0">
                <span class="icon icon-Mail text-primary"></span>
              </div>
              <input type="text" class="form-control border-0 p-3" placeholder="Enter your email" required>
              <button type="submit" class="input-group-btn btn bg-white">
                <span class="icon icon-Arrow text-primary"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>