<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center" style="background-image: linear-gradient(to right top,#f1baf3,#c99cd1,#a37fb0,#7f6490,#5d4970);">
		<div class=container>
			<div class=row>
				<div class="col-12 text-center text-white">
					<h1 class=text-white>
						Footers
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class=lead>
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center  px-3 py-5 box-shadow-v2">
		<h4 class=m-0>
			Footer
			<span class=color-primary>#1</span>
		</h4>
	</section>
	<section class="bg-white">
		<footer class=box-shadow-v2>
			<div class=container>
				<div class="row align-items-center">
					<div class="col-lg-6 py-5 text-center text-lg-left">
						<span>© Copyright 2017 - Created by
							<a target=_blank href=https://wrapbootstrap.com/user/EchoTheme>EchoTheme</a>
						</span>
					</div>
					<div class="col-lg-6 py-5">
						<ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right mb-0">
							<li class=list-inline-item>
								<a class="text-uppercase u-fw-600 p-2" href=#>HOME</a>
							</li>
							<li class=list-inline-item>
								<a class="text-uppercase u-fw-600 p-2" href=#>elements</a>
							</li>
							<li class=list-inline-item>
								<a class="text-uppercase u-fw-600 p-2" href=#>about</a>
							</li>
							<li class=list-inline-item>
								<a class="text-uppercase u-fw-600 p-2" href=#>BLOG</a>
							</li>
							<li class=list-inline-item>
								<a class="text-uppercase u-fw-600 p-2" href=#>CONTACT</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</section>
	<section class="text-center px-3 py-5 box-shadow-v2">
		<h4 class=m-0>
			Footer
			<span class=color-primary>#2</span>
		</h4>
	</section>
	<footer>
	