<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">Form Block</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto text-center">
					<h2 class="h1">
						Contact Us Now
					</h2>
					<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
					<p>
						You can contact us with anything related to our Products. We'll get in touch with you as soon as possible.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7 text-center mt-5 mx-auto">
					<form action="#" method="POST">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Name" required>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Your email" required>
							</div>
						</div>
						<textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="Youe text..." required></textarea>
						<button class="btn btn-rounded btn-purple u-w-170" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-purple-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2 class="h1 text-center text-white u-mb-30">
						Do You Want to Start a
						<br> New Project?
					</h2>
					<div class="u-h-4 u-w-50 bg-white rounded u-mb-70 mx-auto"></div>
					<form action="#" method="POST">
						<div class="row">
							<div class="col-md-6 u-mb-30">
								<input type="text" placeholder="Your name*">
							</div>
							<div class="col-md-6 u-mb-30">
								<input type="email" placeholder="Your email*">
							</div>
							<div class="col-md-6 u-mb-30">
								<input type="tel" placeholder="Phone number">
							</div>
							<div class="col-md-6 u-mb-30">
								<input type="tel" placeholder="Your website">
							</div>
							<div class="col-12 u-mb-30">
								<textarea rows="5" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btn-primary"> Send Request</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	