<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">
						List style
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mt-5">
					<ul class="list-unstyled u-fw-600">
						<li class="d-flex align-items-center mb-2">
							<span class="fa fa-check mr-2 color-primary u-fs-20"></span>
							Professional and easy to use software
						</li>
						<li class="d-flex align-items-center mb-2">
							<span class="fa fa-check mr-2 color-primary u-fs-20"></span>
							Setup and installations takes 30 seconds
						</li>
						<li class="d-flex align-items-center mb-2">
							<span class="fa fa-check mr-2 color-primary u-fs-20"></span>
							Perfect for any device with pixel perfect design
						</li>
						<li class="d-flex align-items-center mb-2">
							<span class="fa fa-check mr-2 color-primary u-fs-20"></span>
							Setup and installations really really fast
						</li>
						<li class="d-flex align-items-center mb-2">
							<span class="fa fa-check mr-2 color-primary u-fs-20"></span>
							Perfect for any device with pixel perfect design
						</li>
					</ul>
				</div>
				<div class="col-lg-6 mt-5">
					<ul class="list-unstyled u-fw-600 u-lh-2">
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Professional and easy to use software
						</li>
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Setup and installations takes 30 seconds
						</li>
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Perfect for any device with pixel perfect design
						</li>
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Setup and installations really really fast
						</li>
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Perfect for any device with pixel perfect design
						</li>
						<li>
							<i class="fa fa-check mr-2 color-primary"></i>
							Setup and installations really really fast
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mt-5">
					<ul class="list-group">
						<li class="list-group-item">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Morbi leo risus</li>
						<li class="list-group-item">Porta ac consectetur ac</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>
				</div>
				<div class="col-lg-6 mt-5">
					<ul class="list-group">
						<li class="list-group-item active">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Morbi leo risus</li>
						<li class="list-group-item">Porta ac consectetur ac</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mt-5">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small class="text-muted">Donec id elit non mi porta.</small>
						</a>
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">List group item heading</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small class="text-muted">Donec id elit non mi porta.</small>
						</a>
					</div>
				</div>
				<div class="col-lg-6 mt-5">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1 text-white">List group item heading</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1 text-white">List group item heading</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1 text-white">List group item heading</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
							<small>Donec id elit non mi porta.</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>