<section  class="u-h-100vh u-flex-center login-back" >
		<div class="container">
			<div class="row">
				<div class="col-lg-5 m-auto text-center">
					<div class="card box-shadow-v2 bg-white u-of-hidden">
						<h2 class="bg-purple-light m-0 py-3 text-white">Login</h2>
						<div class="p-4 p-md-5">
							<form action="#" method="POST">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-User text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your fullname">
								</div>
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-Mail text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your email">
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<label class="custom-control custom-checkbox text-left">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator mt-1"></span>
										<span class="custom-control-description">Remember me</span>
									</label>
									<a href="#">Forgot password?</a>
								</div>
								<button class="btn btn-primary u-mt-20 u-w-170">
									Login Now
								</button>
							</form>
							<ul class="list-inline u-my-40">
								<li class="mb-3">Or Sign In with</li>
								<li class="list-inline-item">
									<a href="#" class="fa fa-facebook u-w-45 u-h-45 u-flex-center text-white rounded-circle bg-facebook"></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="fa fa-twitter u-w-45 u-h-45 u-flex-center text-white rounded-circle bg-twitter"></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="fa fa-google-plus u-w-45 u-h-45 u-flex-center text-white rounded-circle bg-google"></a>
								</li>
							</ul>
							<p>
								Don't have an account?
								<a href="sign-up.html" class="text-primary">Sign up</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>