<section class="u-py-100 u-h-100vh u-flex-center parallax" data-dark-overlay="6">
<div class="container">
    <div class="row">
        <div class="col-12 text-center text-white">
            <h1 class="text-white">
                Project Details
            </h1>
            <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
            <p class="lead">
                You can find several product design by our professional team
                <br> in this section.
            </p>
        </div>
    </div>
</div>
</section>
<section class="bg-pure-white">
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>
                Maximum - Responsive Bootstrap 4 Admin
                <br> Dashboard Template
            </h2>
            <ul class="list-inline mx-auto mt-5">
                <li class="list-inline-item bg-white m-2 box-shadow-v1 u-py-10 px-4 u-rounded-50">
                    March 17, 2018
                </li>
                <li class="list-inline-item bg-white m-2 box-shadow-v1 u-py-10 px-4 u-rounded-50">
                    CLIENT:
                    <span class="text-primary">Wrapbootstrap</span>
                </li>
                <li class="list-inline-item bg-white m-2 box-shadow-v1 u-py-10 px-4 u-rounded-50 bg-purple text-white">
                    <span class="icon icon-Heart"></span> 56
                </li>
            </ul>
            <%=image_tag("portfolio/sc-1_1-1.png", alt: "")%>
            
            <p class="my-5">
                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam pro cessus dynamicus,
                qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas humanitatis per seacula quarta decima. Investigationes demonstraverunt lectores legere
                me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.
            </p>
            <a href="#" class="btn btn-purple btn-rounded u-w-170">
                Visit Site
            </a>
        </div>
    </div>
</div>
</section>
<section class="bg-pure-white">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="h1">
                Want to work with us
            </h2>
            <div class="u-h-4 u-w-50 bg-purple rounded mt-4 mx-auto u-mb-40"></div>
            <p>
                We’ve Completed More Than 500+ project for our amazing clients, if you
                <br> interested?
            </p>
            <a href="#" class="btn btn-purple btn-rounded u-w-170 mt-5">
                Get a Quote
            </a>
        </div>
    </div>
</div>
</section>