<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">Progress bar</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="h1">
						Why We are the
						<span class="text-primary">Best</span>
						<div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto mb-5"></div>
					</h2>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="progress-item mb-5">
						<span>Python and Django</span>
						<h4 class="float-right text-primary">85%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="85"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>Laravel</span>
						<h4 class="float-right text-primary">70%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="75"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>HTML CSS JS</span>
						<h4 class="float-right text-primary">90%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="90"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="progress-item mb-5">
						<span>Python and Django</span>
						<h4 class="float-right text-primary">85%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="85"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>Laravel</span>
						<h4 class="float-right text-primary">70%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="75"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>HTML CSS JS</span>
						<h4 class="float-right text-primary">90%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="90"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="h1">
						Why We are the
						<span class="text-primary">Best</span>
						<div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto mb-5"></div>
					</h2>
				</div>
				<div class="col-lg-10 mt-4 mx-auto">
					<div class="progress-item mb-5">
						<span>Python and Django</span>
						<h4 class="float-right text-primary">85%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="85"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>Laravel</span>
						<h4 class="float-right text-primary">70%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="75"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>HTML CSS JS</span>
						<h4 class="float-right text-primary">90%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="90"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>Python and Django</span>
						<h4 class="float-right text-primary">85%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="85"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>Laravel</span>
						<h4 class="float-right text-primary">70%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="75"></div>
						</div>
					</div>
					<div class="progress-item mb-5">
						<span>HTML CSS JS</span>
						<h4 class="float-right text-primary">90%</h4>
						<div class="progress w-100">
							<div class="progress-bar" aria-valuenow="90"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>