<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">Tabs</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center px-3 py-5 box-shadow-v2 bg-white">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#1</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs justify-content-center tabs-v3 text-center u-ff-dosis u-fw-600 u-fs-20" role="tablist">
						<li class="nav-item mx-2">
							<a class="nav-link active p-4" data-toggle="tab" href="#tab1_1" role="tab">
								<span class="u-fs-30 d-block mb-1">01</span>
								Join
							</a>
						</li>
						<li class="nav-item mx-2">
							<a class="nav-link p-4" data-toggle="tab" href="#tab1_2" role="tab">
								<span class="u-fs-30 d-block mb-1">02</span>
								Login
							</a>
						</li>
						<li class="nav-item mx-2">
							<a class="nav-link p-4" data-toggle="tab" href="#tab1_3" role="tab">
								<span class="u-fs-30 d-block mb-1">03</span>
								Cracking
							</a>
						</li>
					</ul>
				</div>
				<div class="col-12">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab1_1">
							<div class="row u-my-70 align-items-center">
                                <div class="col-md-6 mb-5">
                                    <%=image_tag("presentation/seo.png", alt: "")%>
									
								</div>
								<div class="col-md-6">
									<h2 class="mb-4">
										Present Your Startup With Style And Easy
									</h2>
									<p>
										Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
										esse molestie possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper
										quis nostrud.
									</p>
									<ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab1_2">
							<div class="row u-my-70 align-items-center">
								<div class="col-md-6 mb-5">
                                <%=image_tag("presentation/software.png", alt: "")%>
								</div>
								<div class="col-md-6">
									<h2 class="mb-4">
										We Provide Three Steps Business Solutions
									</h2>
									<p>
										Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
										esse molestie possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper
										quis nostrud.
									</p>
									<ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab1_3">
							<div class="row u-my-70 align-items-center">
								<div class="col-md-6 mb-5">
                                <%=image_tag("presentation/app.png", alt: "")%>
								</div>
								<div class="col-md-6">
									<h2 class="mb-4">
										It's as easy as 1 2 3 to get start
									</h2>
									<p>
										Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
										esse molestie possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper
										quis nostrud.
									</p>
									<ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
										<li>
											<i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center bg-white px-3 py-5 box-shadow-v2">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#2</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
						<a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
						<a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
						<a class="nav-link" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse
								magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum
								mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt
								non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							<p>Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur
								consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut
								consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat
								dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.</p>
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<p>Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco
								esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea
								tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</p>
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							<p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat
								officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla
								mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit
								nisi in aute tempor commodo eiusmod.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center px-3 bg-white py-5 box-shadow-v2">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#3</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-pills mb-3" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit
								proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam
								culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat
								culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo
								est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui
								minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut
								in id occaecat pariatur ut ullamco ea tempor duis.</p>
						</div>
						<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							<p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis
								ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure
								ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur
								aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit
								labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure
								magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt
								ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate
								voluptate consequat non.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center px-3 bg-white py-5 box-shadow-v2">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#4</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-pills mb-3 nav-justified" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#pills-contact3" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active show" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">
							<p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit
								proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam
								culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat
								culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
						</div>
						<div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
							<p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo
								est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui
								minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut
								in id occaecat pariatur ut ullamco ea tempor duis.</p>
						</div>
						<div class="tab-pane fade" id="pills-contact3" role="tabpanel" aria-labelledby="pills-contact-tab">
							<p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis
								ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure
								ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur
								aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit
								labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure
								magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt
								ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate
								voluptate consequat non.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center px-3 bg-white py-5 box-shadow-v2">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#5</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs mb-4" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
								cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
								synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
								aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
								blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
								letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
								assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
								stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
								richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
								park.</p>
						</div>
						<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
								farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
								etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg
								banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably
								haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center px-3 bg-white py-5 box-shadow-v2">
		<h4 class="m-0">
			Tabs
			<span class="color-primary">#6</span>
		</h4>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs justify-content-center mb-4" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active show" id="home2" role="tabpanel" aria-labelledby="home-tab">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
								cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
								synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
								aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
						</div>
						<div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
								blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
								letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
								assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
								stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
								richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
								park.</p>
						</div>
						<div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
								farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
								etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg
								banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably
								haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>